
body{
    height: 2300px;
    width: 1440px;
    /* left: -3769px;
    top: -6941px; */
    border-radius: 0px;
    }
.header{
    border-radius: 0px;
    position: absolute;
    width: 1440px;
    height: 800px;
    left: 0px;
    top: 0px;
    }
.rectangle47{
    height: 800px;
    width: 720px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    background: url(./img/Rectangle47.png);
    /* background: url(.png), url(image.png); */
    }
.nav-back{
    position: fixed;
    height: 70px;
    width: 1440px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
     
    z-index: 0;
    animation-name: fade;animation-duration: 3s;}@keyframes fade{from{opacity: 0;}to{opacity: 0.9;};
    }   
.nav{
    position: fixed;
    height: 70px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: #FFFFFF, opacity = 0;
    /* clip: rect(auto auto auto auto), opacity = 1; */
    z-index: +2;
    animation-name: fade;animation-duration: 1.5s;}@keyframes fade{from{opacity: 0.1;}to{opacity: 1;};
}
.logo{
    position: absolute;
    width: 98.56px;
    height: 25px;
    left: 54px;
    top: 22px;
    background: url(./img/Union.png);
}

.switch-2divs{
    
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;

    position: absolute;
    width: 131px;
    height: 37px;
    left: 174px;
    top: 16px;
    /*calc(50% - 37px/2 - 0.5px);*/

    /* White */

    background: #FFFFFF;
    /* Middle Grey */

    border: 1px solid #E2E8F0;
    box-sizing: border-box;
    border-radius: 48px;
}
.switch-left{
        
    background: #5A30F0;   
   
    height: 31px;
    width: 55px;
    left: 3px;
    top: 3px;
    border-radius: 34px;
    padding: 8px, 12px, 8px, 12px;
}
.switch-left .text{
    height: 15px;
    width: 31px;
    margin-left: 12px;
    margin-top: 8px;
    border-radius: nullpx;
    
    
    font-family: TT Travels;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    }
.switch-right{
    height: 31px;
    width: 66px;
    left: 62px;
    top: 3px;
    border-radius: 34px;
    padding: 8px, 12px, 8px, 12px;

    
    }
.switch-right .text{
    height: 15px;
    width: 42px;
    margin-left: 12px;
    margin-top: 8px;
    border-radius: 0px;

    font-family: TT Travels;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    }
.links{
    height: 19px;
    width: 662px;
    left: 389px;
    top: 25.5px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    left: calc(50% - 662px/2);
    
}

.text1{

width: 131px;
height: 19px;
left: calc(50% - 131px/2 - 265.5px);
top: calc(50% - 19px/2);

font-family: TT Travels;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

display: flex;
align-items: center;
letter-spacing: 0.2px;

color: #404040;
margin: 0px 32px 0px 0px;
}
.text2{
position: static;
width: 174px;
height: 19px;

top: calc(50% - 19px/2);

font-family: TT Travels;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

display: flex;
align-items: center;
letter-spacing: 0.2px;


color: #404040;
margin: 0px 32px 0px 0px;

}
.text3{

position: static;
width: 162px;
height: 19px;

top: calc(50% - 19px/2);
font-family: TT Travels;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

display: flex;
align-items: center;
letter-spacing: 0.2px;

color: #404040;
margin: 0px 32px 0px 0px;

}
.text4{
position: static;
width: 99px;
height: 19px;

top: calc(50% - 19px/2);


font-family: TT Travels;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

display: flex;
align-items: center;
letter-spacing: 0.2px;

color: #404040;
    }

.right-block{
    height: 32px;
    width: 292px;
    left: 1118px;
    top: 19px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 292px;
    height: 32px;
    right: 30px;   
    }
.frame59{
    height: 18px;
    width: 228px;
    left: 0px;
    top: 7px;
    border-radius: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
       

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px 0px 0px;
    }
.phone{
    position: static;
    height: 16px;
    width: 158px;
    left: 0px;
    top: 26px;
    border-radius: 0px;
    
    font-family: TT Travels;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #404040;

    }
.line{
    height: 0px;
    width: 14px;
    right: 149px;
    top: 2px;
    border-radius: 0px;
    
    position: static;

    border: 1.5px solid #404040;
    transform: rotate(90deg);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px;
    }
.wtime{
    height: 18px;
    width: 40px;
    right: 94px;
    top: 0px;
    border-radius: 0px;

    font-family: TT Travels;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #404040;
    flex: none;
    order: 2;
    flex-grow: 0;   
    }
.menu{
    height: 32px;
    width: 32px;
    right: 30px;
    top: 30px;
    border-radius: 0px;  

    flex: none;
    order: 1;
    flex-grow: 0;    
}
.menu-icon{
    position: absolute;
    width: 22px;
    height: 10px;
    right: 5px;
    top: 11px;
    background-color: #404040;
    background: url(./img/Menu-Icon.png);
}
.text-block{
    position: absolute;
    width: 401px;
    height: 357px;
    left: 875px;
    top: 221px;
}
.text-head{    
    width: 401px;
    height: 252px;
    left: 875px;
    top: 221px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 76px;
    line-height: 84px;   
    color: #404040;
}
.text-main{
    width: 397px;
    height: 75px;
    left: 875px;
    top: 503px;
    bottom: 0px;
    margin-top: 30px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;    
    color: #404040;
}
.btn-prim-desc{
    position: fixed;
    width: 195px;
    height: 195px;
    left: 622px;
    top: 585px;

    border-radius: 0px;
    background: url(./img/Desktop.png);
    z-index: 2;
    -webkit-animation-name: rotate-ell;
    -webkit-animation-duration: 10s;

    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;  
   
}
@-webkit-keyframes rotate-ell {
    from{        
        -webkit-transform: rotate(-15deg);
    }
    to {        
        -webkit-transform: rotate(15deg);
    }
}
.ZoomOut{
    animation-name: ZoomOut;    
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;  
}

@keyframes ZoomOut {
    from {
      transform: scale(1, 1) rotate(15deg);
    }
    to {
      transform: scale(0.6, 0.6)  rotate(45deg);
    }
 
}
.ZoomOutFooter{
    animation-name: ZoomOutFooter;    
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;  
}

@keyframes ZoomOutFooter {
    from {
      transform: scale(0.6, 0.6) rotate(45deg);
    }
    75% {
        transform: scale(0.4, 0.4) rotate(65deg);
      }
    85% {
        transform: scale(0.4, 0.4) translate(50px, 150px);
        
    }
    to {
        transform: scale(0, 0) translate(50px);        
      }
}
.MooveFooter{
    animation: MooveFooter;
    
    animation-duration: 7s;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes MooveFooter {
    from {
      transform: translate(0px, 0px);
    }  
    to {
        transform: translate(195px, 70px) scale(1.27, 1.27);
    }   
}
.MooveFooterRest{
    animation: MooveFooterRest;
    
    animation-duration: 3s;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 4s;
}

@keyframes MooveFooterRest {
    from {
        margin-top: 200%;
        height: 200%;
      /* transform: translateY(2300px); */
    }
  
    to {
        margin-top: 0%;
        height: 100%;
        /* transform: translateY(-768px); */
      }   
}
.ZoomInTags{
    animation-name: ZoomInTags;    
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;  
}

@keyframes ZoomInTags {
    from {
      transform: scale(0, 0);
      transform: opacity(0);
    }
    to {
      transform: scale(1, 1);
      transform: opacity(1);
    }
 
}
.features{
    position: absolute;
    flex-direction: row;
    width: 1320px;
    height: 328px;
    left: 60px;
    top: 873px;
    display: flex;
    align-items: center;
}
.feature01{
    /* position: absolute; */
    align-items: center;
    width: 300px;
    height: 328px;
    left: 60px;
    top: 873px;
    margin-right: 40px;
    background: url(./img/Feature01before.png);
    z-index: +2;

}
.feature01 :hover{
    width: 300px;
    height: 328px;
    left: 60px;
    top: 873px;
    background: url(./img/Feature01.png) no-repeat;
    
}
.rest109{
    
    width: 300px;
    height: 328px;
    left: 60px;
    top: 873px;

    background: #F3F6FA;
    border-radius: 8px;
    z-index: 0;
}
.rest109-1{
   
    width: 300px;
    height: 328px;
    left: 60px;
    top: 873px;    
    border-radius: 8px;
    z-index: 0;
}
.feature02{
    width: 300px;
    height: 328px;
    left: 400px;
    top: 873px;
    margin-right: 40px;
}
.feature03{   
    width: 300px;
    height: 328px;
    left: 740px;
    top: 873px;
    margin-right: 40px;
}
.feature04{    
    width: 300px;
    height: 328px;
    left: 1080px;
    top: 873px;
}
.rest110{
    position: absolute;
    width: 300px;
    height: 328px;
    left: 60px;
    top: 873px;
    background: #F3F6FB;
    border-radius: 8px;
}
.text-rest02{
    position: absolute;
    width: 271px;
    height: 62px;
    right: 700px;
    top: 20px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;    
    text-align: center;
    color: #404040;
}
.text-rest03{
    height: 62px;
    position: absolute;
    width: 219px;    
    Left: 720px;
    top: 20px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #404040;
}
.text-rest04{
    position: absolute;
    width: 219px;
    height: 93px;
    left: 1060px;
    top: 20px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #404040;
}
.group152{
    position: absolute;
    height: 151px;
    width: 188px;
    left: 395px;
    bottom: 0px;
    border-radius: 0px;
    background: url(./img/Group152.png);
    z-index: +1;
}
.layer51{
    position: absolute;
    width: 211px;
    height: 173px;
    left: calc(50% - 211px/2 + 170.5px);
    bottom: 0px;

    background: url(./img/Layer51.png);
}
.image147{   
    position: absolute;    
    right: 52px;
    bottom: 0px;
    width: 201px;
    height: 148px;
    background: url(./img/image147.png);
    transform: rotate(-0.5deg);
    }
.group176{
    width: 1094px;
    height: 795px;
    left: 173px;
    top: 1350px;
    /* z-index: 3; */
}
.plaseholder{
    position: absolute;
    width: 1094px;
    height: 630px;
    left: 173px;
    bottom: 0px;
    top: 1515px;
    background: url(./img/Placeholder.png);
    border-radius: 8px;
    /* z-index: 3; */
}


.text-head176{
    position: absolute;
    width: 535px;
    height: 53px;
    left: 173px;
    top: 1350px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;
    color: #404040;
}

.text-main176{
    position: absolute;
    width: 414px;
    height: 100px;
    left: 842px;
    top: 1363px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;  
    color: #404040;  
}
.footer-scroll{
    position: absolute;
    height: 800px;
    width: 1440px;
    left: 0px;
    top: 1500px;
    border-radius: 0px;
    
    /* opacity: 0; */
    display: none;
}
/* .img-bg{
    position: absolute;
    width: 1065px;
    height: 800px;
    left: 375px;
    bottom: 0px;
    background: url(./img/img_bg.png);    
} */
.tag{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
    width: 212px;    
    border-radius: 0px;
    filter: drop-shadow(0px 20px 44px rgba(64, 47, 121, 0.07));
}
.frame60{    
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 33px;   
    left: 71.5px;
    top: 0px;
    bottom: 10.81%;
    border-radius: 2px;
    padding: 8px, 10px, 8px, 10px;
    background: #FFFFFF;
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.text-frame60{
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 17px;
    
    left: 10px;
    right: 10px;
    top: 8px;
    border-radius: 0px;
    
    font-family: TT Travels;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
}
.cursorplus{
    position: absolute;   
    height: 29.99999948657187px;
    width: 29.99999948657187px;
    left: 717.212890625px;
    top: 247px;
    border-radius: 0px;

}
.cursorplus1{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 637px;
    top: 445px;
    border-radius: 0px;    
}
.cursorplus2{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 845px;
    top: 475px;
    border-radius: 0px;    
}
.cursorplus3{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 674px;
    top: 714px;
    border-radius: 0px;    
}
.cursorplus4{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 1006px;
    top: 377px;
    border-radius: 0px;    
}
.cursorplus5{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 1206px;
    top: 497px;
    border-radius: 0px;    
}
.cursorplus6{
    position: relative;
    align-items:center;
    height: 30px;
    width: 30px;
    left: 966px;
    top: 586px;
    border-radius: 0px;    
}
.gradient{
    position: absolute;
    visibility: hidden;
    width: 1440px;
    height: 800px;
    left: 0px;
    top: 0px;
    background: linear-gradient(270deg, rgba(64, 66, 78, 0) 54.17%, rgba(64, 66, 78, 0.5) 100%);
}
.rectangle_130{
    /* position: absolute; */
    width: 375px;
    height: 800px;
    left: 0px;
    top: 1500px;
    background: #5A30F0;
    /* display: none; */
    margin-top: 250%;
}
/* .container-big{
    height: 950px;
    width: 1440px;
    top: 1350px;
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    opacity: 0;
    z-index: 0;
} */
.container{
    overflow: hidden;
    position: absolute;
    width: 375px;
    height: 800px;
    left: 0px;
    top: 1500px;
}
.text-head-rect{
    height: 21px;
    width: 136px;
    left: 53px;
    top: 35px;
    border-radius: 0px;
    position: absolute;    
    font-family: TT Travels;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;    
    color: #FFFFFF;
    /* z-index: 3; */
}
.tabs{
    position: absolute;
    width: 279px;
    height: 278px;
    left: 60px;
    top: 256px;
    bottom: 266px;
    /* z-index: 3; */
}
.tabs-kit{    
    width: 186px;
    height: 53px;
    left: 60px;
    top: 256px;
    font-family: TT Travels;
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;   
    color: #FFFFFF;
}
.tabs-kit:hover{
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.7;
}
.tabs-rooms{    
    width: 240px;
    height: 53px;
    left: 60px;
    top: 331px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;   
    color: #FFFFFF;
    opacity: 0.7;
}
.tabs-rooms:hover{
    font-family: TT Travels;
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;    
    color: #FFFFFF;
    opacity: 1;
}
.tabs-bath{    
    width: 206px;
    height: 53px;
    left: 60px;
    top: 406px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;    
    color: #FFFFFF;
    opacity: 0.7;
}
.tabs-bath:hover{
    font-family: TT Travels;
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;
    
    color: #FFFFFF;
    opacity: 1;
}
.tabs-hall{
    
    width: 279px;
    height: 53px;
    left: 60px;
    top: 481px;

    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;
    color: #FFFFFF;

    opacity: 0.7;
}
.tabs-hall:hover{
    font-family: TT Travels;
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;
    color: #FFFFFF;
    opacity: 1;
}
.tags{
    height: 496.9638671875px;
    width: 590px;
    left: 603px;
    top: 250.7998046875px;
    border-radius: 0px;

}
.show{display:block}
.hide{display:none}
.pose{position: absolute;}
