
.cover{
    height: 2300px;
    width: 1440px;
    border-radius: 0px;
    left: 0px;
    top: 0px;
    }
.header{
    border-radius: 0px;
    position: absolute;
    width: 1440px;
    height: 800px;
    left: 0px;
    top: 0px;
    }
.rectangle47{
    height: 800px;
    width: 720px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    background: url(./img/Rectangle47.png);
    /* background: url(.png), url(image.png); */
    }
.nav-back{
    position: fixed;
    height: 70px;
    width: 1440px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
     
    z-index: 0;
    animation-name: fade;animation-duration: 3s;}@keyframes fade{from{opacity: 0;}to{opacity: 0.9;};
    }   
.nav{
    position: fixed;
    height: 70px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: #FFFFFF, opacity = 0;
    /* clip: rect(auto auto auto auto), opacity = 1; */
    z-index: +2;
    animation-name: fade;animation-duration: 1.5s;}@keyframes fade{from{opacity: 0.1;}to{opacity: 1;};
}
.logo{
    position: absolute;
    width: 98.56px;
    height: 25px;
    left: 54px;
    top: 22px;
    background: url(./img/Union.png);
}

.switch-2divs{
    
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;

    position: absolute;
    width: 131px;
    height: 37px;
    left: 174px;
    top: 16px;
    /*calc(50% - 37px/2 - 0.5px);*/

    /* White */

    background: #FFFFFF;
    /* Middle Grey */

    border: 1px solid #E2E8F0;
    box-sizing: border-box;
    border-radius: 48px;
}
.switch-left{
        
    background: #5A30F0;   
   
    height: 31px;
    width: 55px;
    left: 3px;
    top: 3px;
    border-radius: 34px;
    padding: 8px, 12px, 8px, 12px;
}
.switch-left .text{
    height: 15px;
    width: 31px;
    margin-left: 12px;
    margin-top: 8px;
    border-radius: nullpx;
    
    
    font-family: TT Travels;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    }
.switch-right{
    background: #FFFFFF;
    height: 31px;
    width: 66px;
    left: 62px;
    top: 3px;
    border-radius: 34px;
    padding: 8px, 12px, 8px, 12px;

    
    }
.switch-right :hover{
        background: #5A30F0; 
        color: #FFFFFF;
    }
.switch-right .text{
    height: 15px;
    width: 42px;
    margin-left: 12px;
    margin-top: 8px;
    border-radius: 0px;

    font-family: TT Travels;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
    }

.links{
    height: 19px;
    width: 662px;
    left: 389px;
    top: 25.5px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    left: calc(50% - 662px/2);
    
}

.text1{

width: 131px;
height: 19px;
left: calc(50% - 131px/2 - 265.5px);
top: calc(50% - 19px/2);

font-family: TT Travels;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

display: flex;
align-items: center;
letter-spacing: 0.2px;

color: #404040;
margin: 0px 32px 0px 0px;
}
.text2{
position: static;
width: 174px;
height: 19px;

top: calc(50% - 19px/2);

font-family: TT Travels;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

display: flex;
align-items: center;
letter-spacing: 0.2px;


color: #404040;
margin: 0px 32px 0px 0px;

}
.text3{

position: static;
width: 162px;
height: 19px;

top: calc(50% - 19px/2);
font-family: TT Travels;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

display: flex;
align-items: center;
letter-spacing: 0.2px;

color: #404040;
margin: 0px 32px 0px 0px;

}
.text4{
position: static;
width: 99px;
height: 19px;

top: calc(50% - 19px/2);


font-family: TT Travels;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

display: flex;
align-items: center;
letter-spacing: 0.2px;

color: #404040;
    }

.right-block{
    height: 32px;
    width: 292px;
    left: 1118px;
    top: 19px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 292px;
    height: 32px;
    right: 30px;   
    }
.frame59{
    height: 18px;
    width: 228px;
    left: 0px;
    top: 7px;
    border-radius: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
       

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px 0px 0px;
    }
.phone{
    position: static;
    height: 16px;
    width: 158px;
    left: 0px;
    top: 26px;
    border-radius: 0px;
    
    font-family: TT Travels;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #404040;

    }
.line{
    height: 0px;
    width: 14px;
    right: 149px;
    top: 2px;
    border-radius: 0px;
    
    position: static;

    border: 1.5px solid #404040;
    transform: rotate(90deg);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px;
    }
.wtime{
    height: 18px;
    width: 40px;
    right: 94px;
    top: 0px;
    border-radius: 0px;

    font-family: TT Travels;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #404040;
    flex: none;
    order: 2;
    flex-grow: 0;   
    }
.menu{
    height: 32px;
    width: 32px;
    right: 30px;
    top: 30px;
    border-radius: 0px;  

    flex: none;
    order: 1;
    flex-grow: 0;    
}
.menu-icon{
    position: absolute;
    width: 22px;
    height: 10px;
    right: 5px;
    top: 11px;
    background-color: #404040;
    background: url(./img/Menu-Icon.png);
}
.text-block{
    position: absolute;
    width: 401px;
    height: 357px;
    left: 875px;
    top: 221px;
}
.text-head{    
    width: 401px;
    height: 252px;
    left: 875px;
    top: 221px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 76px;
    line-height: 84px;   
    color: #404040;
}
.text-main{
    width: 397px;
    height: 75px;
    left: 875px;
    top: 503px;
    bottom: 0px;
    margin-top: 30px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;    
    color: #404040;
}


.features{
    position: absolute;
    flex-direction: row;
    width: 1320px;
    height: 328px;
    left: 60px;
    top: 873px;
    display: flex;
    align-items: center;
}
.feature01{
    /* position: absolute; */
    align-items: center;
    width: 300px;
    height: 328px;
    left: 60px;
    top: 873px;
    margin-right: 40px;
    background: url(./img/Feature01before.png);
    z-index: +2;

}
.feature01 :hover{
    width: 300px;
    height: 328px;
    left: 60px;
    top: 873px;
    background: url(./img/Feature01.png) no-repeat;
    
}

.rest109{
    
    width: 300px;
    height: 328px;
    left: 60px;
    top: 873px;

    background: #F3F6FA;
    border-radius: 8px;
    z-index: 0;
}
.rest109-1{
   
    width: 300px;
    height: 328px;
    left: 60px;
    top: 873px;    
    border-radius: 8px;
    z-index: 0;
}
.feature02{
    width: 300px;
    height: 328px;
    left: 400px;
    top: 873px;
    background: url(./img/Feature02.png);
    margin-right: 40px;
    margin-top: 100px;
    z-index: +1;
    pointer-events:painted;
}
.feature02 :hover{
    width: 300px;
    height: 328px;
    left: 400px;
    top: 873px;
    background: url(./img/Feature01.png);
}
.feature03{   
    width: 300px;
    height: 328px;
    left: 740px;
    top: 873px;
    background: url(./img/Feature03.png);
    margin-right: 40px;
    margin-top: 200px
}
.feature04{    
    width: 300px;
    height: 328px;
    left: 1080px;
    top: 873px;
    background: url(./img/Feature04.png);
    margin-top: 300px
}
.rest110{
    position: absolute;
    width: 300px;
    height: 328px;
    left: 60px;
    top: 873px;
    background: #F3F6FB;
    border-radius: 8px;
}
.text-rest02{
    /* position: relative; */
    width: 271px;
    height: 62px;
    right: 700px;
    top: 20px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;    
    text-align: center;
    color: #404040;
}
.text-rest03{
    height: 62px;
    position: absolute;
    width: 219px;    
    Left: 720px;
    top: 20px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #404040;
}
.text-rest04{
    position: absolute;
    width: 219px;
    height: 93px;
    left: 1060px;
    top: 20px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #404040;
}
.group152{
    position: absolute;
    height: 151px;
    width: 188px;
    left: 395px;
    bottom: 0px;
    border-radius: 0px;
    background: url(./img/Group152.png);
    z-index: +1;
}
.layer51{
    position: absolute;
    width: 211px;
    height: 173px;
    left: calc(50% - 211px/2 + 170.5px);
    bottom: 0px;

    background: url(./img/Layer51.png);
}
.image147{   
    position: absolute;    
    right: 52px;
    bottom: 0px;
    width: 201px;
    height: 148px;
    background: url(./img/image147.png);
    transform: rotate(-0.5deg);
    }
.group176{
    
    width: 1094px;
    height: 795px;
    left: 173px;
    top: 1350px;
    /* z-index: 3; */
}


.text-head176{
    position: absolute;
    width: 535px;
    height: 53px;
    left: 173px;
    top: 1350px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;
    color: #404040;
}

.text-main176{
    position: absolute;
    width: 414px;
    height: 100px;
    left: 842px;
    top: 1363px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;  
    color: #404040;  
}
.footer-scroll{
    position: absolute;
    height: 800px;
    width: 1065px;
    left: 375px;
    top: 1500px;
    border-radius: 0px;   
    display: none;    
}

.tag{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
    width: 212px;    
    border-radius: 0px;
    filter: drop-shadow(0px 20px 44px rgba(64, 47, 121, 0.07));
}
.frame60{    
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 33px;   
    left: 71.5px;
    top: 0px;
    bottom: 10.81%;
    border-radius: 2px;
    padding: 8px, 10px, 8px, 10px;
    background: #FFFFFF;
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.text-frame60{
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 17px;
    
    left: 10px;
    right: 10px;
    top: 8px;
    border-radius: 0px;
    
    font-family: TT Travels;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
}
.cursorplus{
    position: absolute;   
    height: 30px;
    width: 30;
    left: 342.2px;
    top: 247px;
    border-radius: 0px;

}
.cursorplus1{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 262px;
    top: 445px;
    border-radius: 0px;    
}
.cursorplus2{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 470px;
    top: 475px;
    border-radius: 0px;    
}
.cursorplus3{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 299px;
    top: 714px;
    border-radius: 0px;    
}
.cursorplus4{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 631px;
    top: 377px;
    border-radius: 0px;    
}
.cursorplus5{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 831px;
    top: 497px;
    border-radius: 0px;    
}
.cursorplus6{
    position: relative;
    align-items:center;
    height: 30px;
    width: 30px;
    left: 591px;
    top: 586px;
    border-radius: 0px;    
}
.gradient{
    position: absolute;
    visibility: hidden;
    width: 1065px;
    height: 800px;
    left: 0px;
    top: 0px;
    background: linear-gradient(270deg, rgba(64, 66, 78, 0) 54.17%, rgba(64, 66, 78, 0.5) 100%);
    z-index: 1;
}
.footer-scroll-2{
    position: absolute;
    height: 800px;
    width: 1065px;
    left: 375px;
    top: 1500px;
    border-radius: 0px;   
    display: none;
    z-index: 15;   
}

.tag-2{
    position: absolute;
width: 774px;
height: 516.96px;
left: 599px;
top: 250.8px;

}

.cursorplus-2{
    position: absolute;   
    height: 30px;    
    left: 290px;
    top: 241px;
    border-radius: 0px; 

}
.cursorplus1-2{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 262px;
    top: 445px;
    border-radius: 0px;
    left: 320px;
    top: 714px;

}
.cursorplus2-2{
    position: absolute;
    
    height: 30px;
    left: 686px;
    top: 377px;
    border-radius: 0px;
    
}
.cursorplus3-2{
    position: absolute;
    height: 30px;
    left: 820px;
    top: 638px;
    border-radius: 0px;
    
}
.cursorplus4-2{
    position: absolute;   
    height: 30px;
    left: 580px;
    top: 706px;
    border-radius: 0px;    
}
.container-img{
    overflow: hidden;
    position: absolute;
    width: 1065px;
    height: 800px;
    left: 375px;
    top: 1500px;
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    display: none;    
}
.rectangle-img{
    width: 400%;
    height: 800px;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.plaseholder{
    position: absolute;
    width: 1065px;
    height: 800px;
    left: 173px;
    bottom: 0px;
    top: 1500px;
    background: url(./img/Placeholder.png);
    transform: scale(0.75, 0.75);
    border-radius: 8px;
   
}
.img-bg{
    position: absolute;
    width: 1065px;
    height: 800px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    background: url(./img/Placeholder.png);
    /* z-index: 15;     */
}
.img-rooms{
    position: absolute;
    width: 1065px;
    height: 800px;
    bottom: 0px;
    top: 0px;
    background: url(./img/Placeholder.png);
    margin-left: 100%;
}
.img-bath{
    position: absolute;
    width: 1065px;
    height: 800px;
    /* left: 173px; */
    bottom: 0px;
    top: 0px;
    background: url(./img/Rectangle134.png);
    /* transform: translateX(1440px); */
    /* margin-left: 100%; */
    /* z-index: 15; */
}
.img-hall{
    position: absolute;
    width: 1065px;
    height: 800px;
    bottom: 0px;
    top: 0px;
    background: #FFFFFF;
    margin-left: 100%;
}



.container-tabs{
    overflow: hidden;
    position: absolute;
    width: 375px;
    height: 800px;
    right: 1065px;
    left: 0px;
    top: 1500px;
    z-index: 0;
}
.rectangle_130{
    /* position:absolute; */
    width: 375px;
    height: 800px;
    /* left: 0px; */
    right: 1440px;
    top: 1500px;
    background: #5A30F0;
    display: none;
    margin-right: 250%;
    z-index: 0;
}

.text-head-rect{
    height: 21px;
    width: 136px;
    left: 53px;
    top: 35px;
    border-radius: 0px;
    position: absolute;    
    font-family: TT Travels;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;    
    color: #FFFFFF;
    /* z-index: 3; */
}
.tabs{
    position: absolute;
    width: 279px;
    height: 278px;
    left: 60px;
    top: 256px;
    bottom: 266px;
    
    cursor:pointer;
    /* z-index: 1;
    -webkit-animation-delay: 0.5; */
}

.tabs_active{    
    font-style: italic;
    font-weight: 600;
    opacity: 1;}
.tabs-kit{    
    width: 186px;
    height: 53px;
    left: 60px;
    top: 256px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;   
    color: #FFFFFF;
    opacity: 0.7;
    
}
.tabs-kit:hover{
    font-family: TT Travels;
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 1;
    
}

.tabs-rooms{    
    width: 240px;
    height: 53px;
    left: 45px;
    top: 331px;
    margin-top: 10px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;   
    color: #FFFFFF;
    opacity: 0.7;
    /* animation-delay: 0.5; */
    display: none;
}
.tabs-rooms:hover{
    font-family: TT Travels;
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;    
    color: #FFFFFF;
    opacity: 1;
    
}
.tabs-bath{    
    width: 206px;
    height: 53px;
    left: 40px;
    top: 406px;
    margin-top: 10px;
    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;    
    color: #FFFFFF;
    opacity: 0.7;
    /* animation-delay: 0.5; */
    display: none;
}
.tabs-bath:hover{
    font-family: TT Travels;
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 120%;
    
    color: #FFFFFF;
    opacity: 1;
    
}
.tabs-hall{
    
    width: 279px;
    height: 53px;
    left: 35px;
    top: 481px;
    margin-top: 10px;

    font-family: TT Travels;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;
    color: #FFFFFF;

    opacity: 0.7;
    /* animation-delay: 0.5; */
    display: none;
}
.tabs-hall:hover{
    font-family: TT Travels;
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;
    color: #FFFFFF;
    opacity: 1;
    
}
.tags{
    height: 496.9638671875px;
    width: 590px;
    left: 603px;
    top: 250.7998046875px;
    border-radius: 0px;

}

.btn-prim-desc{
    position: fixed;
    width: 195px;
    height: 195px;
    left: 622px;
    top: 585px;
    /* transition: rotate(-15deg); */

    border-radius: 0px;
    background: url(./img/Desktop.png);
    z-index: 2;
    -webkit-animation-name: rotate-ell;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;  
   
}
@-webkit-keyframes rotate-ell {
    from{        
        -webkit-transform: rotate(0deg);
    }
    40%{-webkit-transform: rotate(30deg);
    }
    75%{-webkit-transform: translateY(150px) scale(0.9, 0.9) rotate(30deg);
    }
    to {        
        transform: translateY(150px)  scale(0.9, 0.9) rotate(35deg) ;
    }
}
.ZoomOut{
    animation-name: ZoomOut;    
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;  
}
@keyframes ZoomOut {
    from {
      transform: translateY(150px) scale(0.9, 0.9) rotate(35deg);
    }
    to {
      transform: translateY(200px) scale(0.9, 0.9)  rotate(60deg);
    }
 
}
.ZoomOutFooter{
    animation-name: ZoomOutFooter;    
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;  
}

@keyframes ZoomOutFooter {
    from {
      transform: translateY(200px) scale(0.9, 0.9) rotate(60deg);
    }
    75% {
        transform: translateY(200px) scale(0.6, 0.6) rotate(75deg);
      }
    85% {
        transform: translateY(250px) scale(0.4, 0.4);
        
    }
    to {
        transform: translateY(300px) scale(0, 0);        
      }
}
.MooveFooter{
    animation: MooveFooter;
    
    animation-duration: 4.5s;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@keyframes MooveFooter {
    from {
      transform: translate(0px, 0px) scale(0.75, 0.75);
    }  
    to {
        transform: translate(202px, 0px) scale(1, 1);
    }   
}
.MooveFooterRest{
    animation: MooveFooterRest;
    
    animation-duration: 2s;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: ease;
    -webkit-animation-delay: 0s;
}

@keyframes MooveFooterRest {
    from {
        /* margin-right: 250%; */
        /* width: 300%; */
      transform: translate(-250px, -100px);
    }
  
    to {
        /* margin-right: 0%; */
        /* width: 100%; */
        transform: translate(0px, 0px);
      }   
}
.MooveTabs01{
    animation: MooveTabs01;
    
    animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: ease;
    -webkit-animation-delay: 0.5s;
}

@keyframes MooveTabs01 {
    from {
      transform: translateX(-5px);
    }  
    to {
        transform: translateX(0px);
      }   
}
.MooveTabs02{
    animation: MooveTabs02;
    
    animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: ease;
    -webkit-animation-delay: 0s;
}

@keyframes MooveTabs02 {
    from {
      transform: translateX(-15px);
      transform: opacity(0);
    }  
    to {
        transform: translateX(0px);
        transform: opacity(0.7);
      }   
}
.MooveTabs03{
    animation: MooveTabs03;
    
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: ease;
    -webkit-animation-delay: 0s;
}

@keyframes MooveTabs03 {
    from {
      transform: translateX(-30px);
    }  
    to {
        transform: translateX(0px);
      }   
}
.MooveTabs04{
    animation: MooveTabs04;
    
    animation-duration: 2.2s;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: ease;
    -webkit-animation-delay: 0s;
}

@keyframes MooveTabs04 {
    from {
      transform: translateX(-50px);
    }  
    to {
        transform: translateX(0px);
      }   
}
.ZoomInTags{
    animation-name: ZoomInTags;    
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;  
}

@keyframes ZoomInTags {
    from {
      transform: scale(0, 0);
      transform: opacity(0);
    }
    to {
      transform: scale(1, 1);
      transform: opacity(1);
    }
 
}
.MoveFeatures02Up{
        animation: MoveFeatures02Up;        
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 0s;
    }
    
    @keyframes MoveFeatures02Up {
        from {
            margin-top: 100px;       
        }      
        to {
            margin-top: 0%;
          }   
    }
    .MoveFeatures03Up{
        animation: MoveFeatures03Up;        
        animation-duration: 1s;
        animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 0s;
    }
    
    @keyframes MoveFeatures03Up {
        from {
            margin-top: 200px;       
        }      
        to {
            margin-top: 0%;
          }   
    }
    .MoveFeatures04Up{
        animation: MoveFeatures04Up;        
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 0s;
    }
    
    @keyframes MoveFeatures04Up {
        from {
            margin-top: 300px;       
        }      
        to {
            margin-top: 0%;
          }   
    }
    .MooveImg01{
        animation: MooveImg01;
        
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-timing-function: linear;
        animation-timing-function: ease;
        -webkit-animation-delay: 0s;
    }
    
    @keyframes MooveImg01 {
        from {
          transform: translateX(1065px);
        }  
        to {
            transform: translateX(0px);
          }   
    }
    .MooveImg03{
        animation: MooveImg03;
        
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-timing-function: linear;
        animation-timing-function: ease;
        -webkit-animation-delay: 0s;
    }
    
    @keyframes MooveImg03 {
        from {
          transform: translateX(2130px);
        }  
        to {
            transform: translateX(0px);
          }   
    }
.show{display:block}
.hide{display:none}
.pose{position: absolute;}
.fade{animation-name: fade;animation-duration: 1.5s;}@keyframes fade{from{opacity: 0.1;}to{opacity: 1;}}
